.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #285, #1aa8a1);
  padding: 1rem 2rem;
  color: white;
  margin: -1rem -0.5rem 0 -1rem;
  /* background-color: #285;*/
}

.main-header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center; /*centra horizontalmente */
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 20%;
  overflow: hidden; /* Evita que el contenido sobresalga */
  background-color: #00000000; /* Opcional, para ver mejor el círculo */
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
}



.logo img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}


.nav-buttons {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  
}

.btn {
  margin-top: 7px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.904);
  background: transparent;
  color: white;
  backdrop-filter: blur(10px);
}

.btn-login {
  background: linear-gradient(135deg, #1e6662, #0a9188);
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-login:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.btn-contacto {
  background: linear-gradient(135deg, #1e6662, #0a9188);
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-contacto:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}